<header>
    <div class="bg-black-50 shadow-primary-100 shadow-lg h-12 flex justify-between">
        <div class="flex bg-white rounded-lg items-center mx-3 my-2 p-2">
            <span class="text-primary-200 text-xl font-bold">Prueba</span>
        </div>
        <div class=" mr-2 flex flex-row items-center h-full">
            <span class="text-white text-sm mr-2">Usuario</span>
            <img class="self-center h-9" src="../../../assets/images/profile.png">
        </div>
    </div>
</header>